# Environment Configuration
GEMINI_API_KEY=
GOOGLE_MAPS_PLATFORM_KEY=

# Relational Database SQL Settings (Can connect via DATABASE_URL or separate credentials)
DATABASE_URL=
SQL_HOST=
SQL_USER=
SQL_PASSWORD=
SQL_DB_NAME=
SQL_ADMIN_USER=
SQL_ADMIN_PASSWORD=
